# Compiled object files
*.o

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.a
*.lib
*cys

# Executable files
*.out
*.exe

# Debug files
*.dSYM/
*.dmp

# Dependency directories
node_modules/
vendor/

# IDE specific files
.vscode/
.vs/
.idea/

# Build directories
build/
dist/
# Temporary files
tmp/
# Log files
*.log